.container-x {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    background-color: white;
    padding: 15px;
    border-radius: 10px;

}
.Brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myFormControl {
    border: none;
    border-bottom: 1px solid #a7bcff;
    padding: 10px;
}
.Sidebar {
    background-color:#3e3c61;
    border-radius: 5px 0 0 5px;
    height: 40rem;
}
.container-h {
    border: 1px solid black;
    margin-top: 2rem;
}